@use "../../assets/scss/_mixins.scss" as mixin;

.footer {
   color: #ffffff;

   .top {
      text-align: center;
      font-size: 0.9em;
      background-color: #36475a;
      padding: 15px 0;
   }

   .bottom {
      text-align: center;
      background-color: #242f3e;
      padding: 20px 5px;
   }
}
