@use "./mixins" as mixin;
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

// general
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-size: 100%;
   font-family: "PT Sans", sans-serif;
   margin-top: 100px;
}

// commons
ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: inherit;
}

select {
   background-color: inherit;
   border: none;
   outline: none;
}

a,
button,
select {
   cursor: pointer;
}

.star {
   color: #ffa41d;
}

.empty_star {
   color: #d3d3d3;
}


.btn-blue {
   background-color: #242F3E !important;
   transition: 100ms;

   &:hover {
      background-color: #374b67 !important;
   }
}

.doubleLine {
   @include mixin.flex(
      column,
      $justify: center,
      $align: flex-start,
      $gap: 0,
      $wrap: true
   );

   span:first-child {
      font-size: 0.75em;
      color: rgb(210, 210, 210);
   }

   span:nth-child(2) {
      font-weight: bold;
   }
}

.bg_dark_blue {
   background-color: #242f3e;
}

@media screen and (max-width: 991px) {
   .d_none_w_md {
      display: none !important;
   }
}

@media screen and (max-width: 768px) {
   .d_none_w_s {
      display: none !important;
   }
}

@media screen and (max-width: 600px) {
   .d_none_w_xs {
      display: none !important;
   }
}
