.cart {
   position: fixed;
   top: 0;
   right: 0;
   width: 25%;
   height: 100%;
   border-left: 1px solid black;
   background-color: #ffffff;
   z-index: 20;
   animation: slide-right 300ms ease-out forwards;
   overflow: scroll;
}

@keyframes slide-right {
   from {
      transform: translateX(20rem);
   }
   to {
      transform: translateX(0);
   }
}