@use "../mixins" as mixin;

.cart {
   position: fixed;
   top: 0;
   right: 0;
   width: 25%;
   min-width: 250px;
   max-width: 400px;
   height: 100%;
   background-color: #ffffff;
   border-left: 1px solid black;
   z-index: 20;
   animation: slide-right 300ms ease-out forwards;
   overflow: scroll;

   .buttons_container {
      @include mixin.flex($justify: flex-start, $gap: 5px);
      margin: 10px 0 10px 5px;

      .orange_btn {
         width: calc(100% / 3 - 5px);
         color: #ffffff;
         background-color: #e67a00;
         padding: 5px;
         border: none;
         border-radius: 3px;
         transition: 100ms;

         &:hover {
            background-color: #fb8906;
         }
      }
   }

   li {
      margin-bottom: 15px;
      padding: 10px;

      .name {
         display: block;
         font-size: 1.3em;
         font-weight: bold;
      }

      .price {
         font-size: 1.2em;
      }

      .buttons_container .orange_btn {
         width: 25%;
      }
   }

   .amount_container {
      margin: 0 5px;

      .amount {
         font-size: 1.1em;
      }
   }

   form {
      background-color: #f7f7f7;
      animation: slide-right 300ms ease-out forwards;

      label {
         margin-right: 5px;
      }

      input {
         width: 100%;
         margin-bottom: 5px;
      }
   }
}

@keyframes slide-right {
   from {
      transform: translateX(20rem);
   }
   to {
      transform: translateX(0);
   }
}

.invalid label {
   color: #ca3e51;
}

.invalid input {
   border-color: #aa0b20;
   background-color: #ffeff1;
}
