@use "../mixins" as mixin;

.footer {
   color: #ffffff;

   a:hover {
      text-decoration: underline;
   }

   .footer_top {
      text-align: center;
      font-size: 0.9em;
      background-color: #36475a;
      padding: 15px 0;
   }

   .footer_middle {
      @include mixin.flex(
         $justify: space-around,
         $align: flex-start,
         $wrap: true
      );
      padding: 50px 5%;

      .col {
         width: 25%;
         padding: 5px;

         li {
            font-size: 0.85em;
            margin: 10px 0;

            a:hover {
               text-decoration: underline;
            }
         }
      }
   }

   .footer_bottom {
      @include mixin.flex($gap: 60px, $wrap: true);
      padding: 30px 0;
      border-top: 1px solid #484848;

      img {
         width: 80px;
      }

      .container_el_footer {
         @include mixin.flex($gap: 10px);

         .footer_b_el {
            font-size: 0.85em;
            padding: 7px 15px;
            border: 1px solid #808080;
            border-radius: 2px;
            cursor: pointer;

            &:hover {
               border: 1px solid #949494;
            }

            .select {
               color: #ffffff;
            }
         }
      }
   }

   .container_privacy {
      @include mixin.flex($gap: 30px, $wrap: true);
      font-size: 0.7em;
      padding: 20px 10px;
   }

   @media screen and (max-width: 768px) {
      .footer_middle .col {
         width: 50%;
         margin-bottom: 20px;
         padding-left: 10%;
      }

      .footer_bottom {
         gap: 25px;

         .container_el_footer {
            width: 100%;
         }
      }
   }
}
