@use "../mixins" as mixin;

.main {
   @include mixin.flex($justify: flex-start, $align: flex-start);
   padding: 20px 10px;

   .main_nav {
      width: 20%;
      min-width: 185px;
      max-width: 300px;
      overflow: scroll;

      .list {
         margin-bottom: 15px;

         h4 {
            margin-bottom: 5px;
         }

         .input {
            margin-right: 5px;
         }

         .pl {
            padding-left: 10px;
         }
      }
   }

   .products_container {
      width: 80%;
      padding-left: 20px;

      .products {
         @include mixin.flex(
            $justify: flex-start,
            $align: stretch,
            $gap: 10px,
            $wrap: true
         );
         margin-top: 10px;

         .product {
            position: relative;
            margin-bottom: 20px;
            padding: 30px 5px 5px 5px;
            border: 1px solid #f1f0f0;
            border-radius: 5px;
            overflow: hidden;

            .best_seller_container {
               position: absolute;
               top: 0;
               left: 0;
               font-size: 0.8em;
               color: #ffffff;

               .best_seller {
                  position: relative;
                  padding: 5px 15px;
                  background-color: #e67a00;
                  z-index: 1;

                  &:after {
                     content: "";
                     position: absolute;
                     bottom: 0;
                     left: 85px;
                     border-top: 200px solid #e67a00;
                     border-right: 80px solid #ffffff;
                     z-index: -1;
                  }
               }
            }

            .product_image {
               min-height: 200px;
               max-height: 200px;
               text-align: center;
               overflow: hidden;

               img {
                  width: 80%;
                  max-width: 250px;
                  transition: 200ms;
               }
            }

            .product_content {
               padding: 10px;

               .name {
                  font-size: 1.2em;
                  margin-bottom: 3px;
               }

               .container_reviews {
                  @include mixin.flex($justify: flex-start, $gap: 7px);

                  span {
                     color: #017185;
                     font-size: 0.8em;
                  }
               }

               .price_container {
                  margin: 5px 0;
                  font-size: 1.4em;

                  .discount {
                     color: #b6022c;
                  }

                  .price_discounted {
                     font-size: 0.6em;
                     text-decoration: line-through;
                  }

                  .price {
                     font-weight: bold;
                  }

                  .actual_price {
                     font-weight: bold;
                     margin: 0 8px;
                  }
               }

               .shipping {
                  @include mixin.flex($justify: flex-start, $gap: 3px);
                  font-size: 0.75em;
                  margin: 5px 0;
               }

               .prime_logo {
                  display: inline;
                  width: 35px;
                  margin-left: 5px;
               }

               .stock {
                  color: #b6022c;
                  font-size: 0.9em;
                  margin: 5px 0;
               }

               .form {
                  margin-top: 20px;
               }

               .input_container {
                  @include mixin.flex($gap: 10px);
                  margin-bottom: 7px;
               }

               .input {
                  width: 100%;
               }

               .btn {
                  width: 100%;
                  color: #ffffff;
                  background-color: #e67a00;
                  padding: 5px;
                  border: none;
                  border-radius: 3px;
                  transition: 100ms;

                  &:hover {
                     background-color: #fb8906;
                  }
               }
            }

            &:hover .product_image img {
               transform: scale(1.05);
            }
         }
      }

      @media screen and (max-width: 900px) {
         & {
            width: 100%;

            .products .product {
               width: calc(50% - 10px);
            }
         }
      }

      @media screen and (min-width: 901px) {
         .products .product {
            width: calc(100% / 3 - 10px);
         }
      }

      @media screen and (min-width: 1200px) {
         .products .product {
            width: calc(100% / 4 - 10px);
         }
      }

      @media screen and (min-width: 1800px) {
         .products .product {
            width: calc(100% / 5 - 10px);
         }
      }
   }
}
