@use "../mixins" as mixin;

.main {
   @include mixin.flex($justify: flex-start, $align: flex-start);
   padding: 20px 10px;

   .main_nav {
      width: 20%;
      min-width: 185px;
      max-width: 300px;

      .list {
         margin-bottom: 15px;

         h4 {
            margin-bottom: 5px;
         }

         .input {
            margin-right: 5px;
         }

         .pl {
            padding-left: 10px;
         }

         .star {
            color: #ffa41d;
         }

         .empty_star {
            color: #d3d3d3;
         }
      }
   }

   .products {
      width: 80%;
      padding-left: 15px;
   }
}
