@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 100%;
   font-family: 'PT Sans', sans-serif;
   margin-top: 60px;
}
